<h1>New Auction</h1>

<%= form_for @auction do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :detail %>
	<%= f.text_area :detail %>
	<br>
	<%= f.label :ends_on %>
	<%= f.date_field :ends_on %>
	<br>
	<%= f.label :reserve_price %>
	<%= f.number_field :reserve_price %>
	<br>
	<%= f.submit %>
	<%= f.button "Reset", type: :reset %>
<% end %>